* {
  touch-action: manipulation;
}

body {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}



#calculation {
  font-size: 18px;
  height: 20px;
  background-color: #f3efef;
  border: solid 1px black;
  max-width: 460px;
  width: 95vw;
  margin-top: 10px;
  margin-bottom: 8px;
  text-align: end;
}

#display {
  background-color: #e9e6e6;
  border: solid 2px black;
  max-width: 460px;
  width: 95vw;
  height: 52px;
  font-size: 48px;
  text-align: end;
  white-space: pre-wrap;
}

.all-buttons {
  display: flex;
  margin-right: 20px;
  margin-top: 14px;
  max-width: 95vw;
}

.digits-container {
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.digits {
  background-color: rgb(233, 233, 237);
  font-size: 28px;
  font-weight: 600;
  box-sizing: border-box;
  border: solid black 2px;
  border-radius: 10px;
  width: 80px;
  
}

.digits:hover {
  background-color: rgb(208, 208, 215);
}

.digits:active {
  background-color: rgb(177, 177, 185);
}
.operators-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 100px;
  gap: 10px;
  margin: 10px 0;
}

.operators {
  font-size: 28px;
  font-weight: 600;
  box-sizing: border-box;
  border: solid black 2px;
  border-radius: 10px;
  width: 80px;
  height: 67.5px;
  background-color: #ffc400;

}

.clear-equal-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
  
}

#clear, #equal {
  font-size: 28px;
  font-weight: 600;
  box-sizing: border-box;
  border: solid black 2px;
  background-color: #ffc400;
  border-radius: 10px;
  width: 80px;
  height: 67.5px;
  flex: 1;
}

#clear:hover, #equal:hover, .operators:hover {
  background-color: #f0b800;
}

#clear:active, #equal:active, .operators:active {
  background-color: #d8a500;
}

@media screen and (max-device-width: 415px) {
  .digits {
    width: 16vw;
  }

  .operators {
    width: 16vw;
  }

  #clear, #equal {
    width: 16vw;
  }
}